---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Please find my publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<!-- ## Publications
- Haghani, M.; Bhattacharya, D.; Murali, T. M. NEFFy: A Toolbox for NEFF Calculation and MSA Conversion. _Bioinformatics_, 2025. 
- Haghani, M.; Bhattacharya, D.; Murali, T. M. HostVirusPair – Enhancing Host-Viral Protein Complex Prediction. (Under submission) -->

{% include base_path %}